---
interface Props {
  title: string;
  subtitle?: string;
  ctaText?: string;
  ctaLink?: string;
  target?: '_self' | '_blank';
}

const { title, subtitle, ctaText, ctaLink, target = '_self' } = Astro.props;
---

<!-- Hero section to introduce the main value proposition and call to action. -->
         <div class="w-7/12 mx-auto my-15 p-10 border-2 rounded-4xl shadow-xl border-[var(--color-bg)]">
    <h1 class="font-heading mb-6 text-4xl md:text-5xl tracking-tight font-semibold text-[var(--color-title)]">
      {title}
    </h1>

    <p class="w-8/12 mx-auto mb-10 leading-tight font-semibold italic text-xl text-[var(--color-primary)]">
      {subtitle}
    </p>

    <a
      href={ctaLink}
      target={target}
      rel={target === '_blank' ? 'noopener noreferrer' : undefined}
      class="inline-flex px-8 py-4 items-center justify-center rounded-full text-lg font-bold bg-[var(--color-btn-bg)] text-[var(--color-btn-text)] hover:text-[var(--color-btn-hover-text)] hover:bg-[var(--color-btn-hover-bg)] shadow-lg hover:shadow-xl transition"
    >
      {ctaText}
    </a>
</div>

